// Add Option Error

.add-option-error {
    color: $off-white;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;

}

// Add Option

.add-option {
    display: flex;
    flex-direction: column;
    padding: $m-size;

}

.add-option__input {
    flex-grow: 1;   // grow to take up the available space --it's reactive
    background: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    color: $off-white;
    margin-bottom: $s-size;
    padding: $s-size;
    
}

// Media queries
// --> scss feture
// break point
@media (min-width: $desktop-breakpoint ) {
    .add-option { 
        flex-direction: row;
    }
    .add-option__input {
    margin: 0 $s-size 0 0;
    }
}  //from 45rems apply this 